<section class="js_collapsable_rulete hidden">
  <div class="mainbox">
    <img src="./assets/images/ico-arrow.svg" alt="Arrow" class="arrow" />
    <div id="box" class="box">
      <div class="box1">
        <span class="span1"
          ><div class="text">
            <a href="./about-me.html"><p>Sobre mi</p></a>
          </div></span
        >

        <span class="span2"
          ><div class="text">
            <a href="./projects.html"><p>Proyectos</p></a>
          </div></span
        >

        <span class="span3"
          ><div class="text">
            <a href="./contact.html"><p>Contacto</p></a>
          </div></span
        >
        <span class="span4"
          ><div class="text">
            <a href="./Skills.html"><p>Tecnologías</p></a>
          </div></span
        >
      </div>
      <div class="box2">
        <span class="span1"
          ><div class="text2">
            <a href="./about-me.html"><p>About me</p></a>
          </div></span
        >
        <span class="span2">
          <div class="text2">
            <a href="./projects.html"><p>Projects</p></a>
          </div></span
        >
        <span class="span3"
          ><div class="text2">
            <a href="./contact.html"><p>Contact</p></a>
          </div></span
        >
        <span class="span4"
          ><div class="text2">
            <a href="./Skills.html"><p>Technical Skills</p></a>
          </div></span
        >
      </div>
    </div>
    <button class="button js_button">Girar</button>
  </div>
  <section class="container">
    <h2 class="container_title">¿Cansado de jugar?</h2>
    <p class="container_p">
      No te preocupes aqui debajo te dejamos un menú para que puedas visitar la
      información que quieras
    </p>
    <button class="container_button js_collapsable_button2">Ir al menu</button>
  </section>
</section>
