// Fonts
$title_fonts: "Pacifico", cursive;
$letter_fonts: "Varela Round", sans-serif;

// Colors
$background-page: #f1f0f0;
$color-title: #5068a8;
$color-sub-title: #00afb9;
//color rulete
$blue: #85c4cb;
$orange: #ffb923;
$red: #e74632;
$pink: #f88c99;
//color button
$background-button: #faf8b5;
$letter-button: #f07167;
$border-button: #fed9b7;

$dark_purple: #57265d;
$maroon: #570712;
