// Fonts
$title_fonts: "Pacifico", cursive;
$letter_fonts: "Varela Round", sans-serif;

// Colors
$background-page: #bddacec0;
$dark-blue: #27283d;
$light-blue: #b2b0d9;
$dark-red: #7a251a;
$pale-pink: #87656e;
$dark-brown: #462d23;
$dark_purple: #57265d;
$salmon: #e67b6d;
$orange: #fab842;
$maroon: #570712;
