body {
  background-color: $background-page;
}
.page {
  margin: 10px 20px 20px 15px;
  font-family: $letter_fonts;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}
//Description.
.main_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.description_p {
  font-size: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.description_button {
  width: 115px;
  height: 35px;
  border-radius: 45%;
  text-align: center;

  font-weight: 900;
  font-size: 16px;
  border: 4px solid orange;
  background-color: orangered;
  color: rgb(129, 2, 2);
}
//Para la ruleta
.mainbox {
  margin-left: 100px;
  margin-bottom: 40px;
  position: relative;
  width: 520px;
  height: 520px;
}
.arrow {
  position: relative;
  top: 8%;
  left: 80%;
  webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  transform: rotate(190deg);
  height: 40px;
  @media all and (min-width: 900px) {
    left: 60%;
  }
  @media all and (min-width: 1200px) {
    left: 45%;
  }
}
.box {
  width: 98%;
  height: 98%;
  position: relative;
  border-radius: 50%;
  border: 5px solid;
  overflow: hidden;
  transition: all ease 3s;
}
span {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
}
.span1 {
  clip-path: polygon(0 100%, 100% 54%, 0 5%);
  background-color: rgb(118, 40, 182);
  top: 120px;
  left: 0;
}
.span2 {
  clip-path: polygon(120% 110%, 0 52%, 93% 5%);
  background-color: rgb(204, 31, 31);
  top: 120px;
  right: 0;
}
.span3 {
  clip-path: polygon(50% -5%, 5% 100%, 98% 100%);
  background-color: rgb(19, 129, 19);
  bottom: 0;
  left: 120px;
}
.span4 {
  clip-path: polygon(55% 100%, 100% 0, 5% 0);
  background-color: rgb(231, 231, 24);
  top: 0;
  left: 120px;
}
.box2 {
  width: 100%;
  height: 100%;
  transform: rotate(-135deg);
}
.text {
  font-size: 13px;
  text-align: center;
  text-orientation: upright;
  border: 2px solid black;
  font-weight: 800;
  width: 75px;
  color: black;
  margin-left: 15px;
}

.button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid orange;
  background-color: orangered;
  color: rgb(129, 2, 2);
  box-shadow: 0 5px 20px black;
  cursor: pointer;
  font-size: 22px;
  &:active {
    width: 70px;
    height: 70px;
    font-size: 18px;
  }
}

//Para el contenedor
.container {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.container_title {
  color: $maroon;
  font-size: 30px;
}

.container_p {
  font-size: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.container_button {
  width: 115px;
  height: 35px;
  border-radius: 45%;
  text-align: center;

  font-weight: 900;
  font-size: 16px;
  border: 4px solid orange;
  background-color: orangered;
  color: rgb(129, 2, 2);
}

//Menú
.nav_ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-decoration: none;
  padding-top: 10px;
  font-size: 18px;
  color: $dark-red;
}

// para los colapsables
.hidden {
  height: 0;
  margin-bottom: 0px;
  overflow: hidden;
}
