body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  background-color: #f1f0f0; }

.page {
  background-color: #f1f0f0;
  font-family: "Varela Round", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }

.title {
  font-family: "Pacifico", cursive;
  color: #5068a8;
  font-size: 50px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px; }
  @media all and (min-width: 900px) {
    .title {
      font-size: 60px;
      padding-bottom: 20px;
      margin-top: 10px; } }
  @media all and (min-width: 1200px) {
    .title {
      font-size: 70px;
      margin-top: 15px; } }

.main_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-left: 10%;
  padding-right: 10%; }

.description_p {
  font-size: 22px;
  padding-bottom: 15px;
  text-align: center; }
  @media all and (min-width: 900px) {
    .description_p {
      font-size: 26px; } }
  @media all and (min-width: 1200px) {
    .description_p {
      font-size: 30px; } }

.description_button {
  width: 15vw;
  height: 5vh;
  border-radius: 20%;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  border: 5px solid #fed9b7;
  background-color: #faf8b5;
  color: #f07167; }
  @media all and (min-width: 900px) {
    .description_button {
      width: 18vw;
      height: 5vh;
      font-size: 26px; } }
  @media all and (min-width: 1300px) {
    .description_button {
      width: 14vw;
      height: 5vh;
      font-size: 30px; } }
  @media all and (min-width: 2000px) {
    .description_button {
      width: 10vw;
      height: 5vh;
      font-size: 30px; } }

.mainbox {
  margin-left: 17%;
  margin-bottom: 40px;
  position: relative;
  width: 520px;
  height: 520px; }
  @media all and (min-width: 900px) {
    .mainbox {
      margin-left: 25%; } }
  @media all and (min-width: 1200px) {
    .mainbox {
      margin-left: 28%; } }
  @media all and (min-width: 1600px) {
    .mainbox {
      margin-left: 35%; } }

.arrow {
  position: relative;
  top: 8%;
  left: 80%;
  webkit-transform: rotate(-70deg);
  transform: rotate(190deg);
  height: 40px; }
  @media all and (min-width: 900px) {
    .arrow {
      left: 80%; } }
  @media all and (min-width: 1200px) {
    .arrow {
      left: 80%; } }

.box {
  width: 85%;
  height: 85%;
  position: relative;
  border-radius: 50%;
  border: 5px solid;
  overflow: hidden;
  transition: all ease 3s; }
  @media all and (min-width: 800px) {
    .box {
      width: 100%;
      height: 100%; } }

span {
  width: 48%;
  height: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute; }
  @media all and (min-width: 800px) {
    span {
      width: 50%;
      height: 50%; } }

.span1 {
  -webkit-clip-path: polygon(0 100%, 100% 54%, 0 5%);
  clip-path: polygon(0 100%, 100% 54%, 0 5%);
  background-color: #85c4cb;
  top: 120px;
  left: 0; }
  @media all and (min-width: 800px) {
    .span1 {
      -webkit-clip-path: polygon(0 100%, 100% 54%, 0 5%);
      clip-path: polygon(0 100%, 100% 54%, 0 5%); } }

.span2 {
  -webkit-clip-path: polygon(120% 110%, 0 52%, 93% 5%);
  clip-path: polygon(120% 110%, 0 52%, 93% 5%);
  background-color: #ffb923;
  top: 120px;
  right: 0; }
  @media all and (min-width: 800px) {
    .span2 {
      -webkit-clip-path: polygon(120% 110%, 0 52%, 93% 5%);
      clip-path: polygon(120% 110%, 0 52%, 93% 5%); } }

.span3 {
  -webkit-clip-path: polygon(50% -5%, 5% 100%, 98% 100%);
  clip-path: polygon(50% -5%, 5% 100%, 98% 100%);
  background-color: #e74632;
  bottom: 0;
  left: 120px; }
  @media all and (min-width: 800px) {
    .span3 {
      -webkit-clip-path: polygon(50% -5%, 5% 100%, 98% 100%);
      clip-path: polygon(50% -5%, 5% 100%, 98% 100%); } }

.span4 {
  -webkit-clip-path: polygon(55% 100%, 100% 0, 5% 0);
  clip-path: polygon(55% 100%, 100% 0, 5% 0);
  background-color: #f88c99;
  top: 0;
  left: 120px; }
  @media all and (min-width: 800px) {
    .span4 {
      -webkit-clip-path: polygon(55% 100%, 100% 0, 5% 0);
      clip-path: polygon(55% 100%, 100% 0, 5% 0); } }

.box2 {
  width: 100%;
  height: 100%;
  transform: rotate(-135deg); }

.text {
  font-size: 13px;
  text-align: center;
  -webkit-text-orientation: upright;
  text-orientation: upright;
  border: 2px solid black;
  font-weight: 800;
  width: 75px;
  color: black;
  margin-left: 15px; }

.button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  border: 5px solid #fed9b7;
  background-color: #faf8b5;
  color: #f07167;
  box-shadow: 0 5px 20px black;
  cursor: pointer;
  font-size: 22px; }
  .button:active {
    width: 70px;
    height: 70px;
    font-size: 18px; }

.container {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%; }

.container_title {
  color: #00afb9;
  font-size: 30px; }
  @media all and (min-width: 900px) {
    .container_title {
      font-size: 35px; } }
  @media all and (min-width: 1200px) {
    .container_title {
      font-size: 40px; } }

.container_p {
  font-size: 22px;
  padding-bottom: 10px;
  text-align: center; }
  @media all and (min-width: 900px) {
    .container_p {
      font-size: 26px; } }
  @media all and (min-width: 1200px) {
    .container_p {
      font-size: 30px; } }

.container_button {
  width: 120px;
  height: 40px;
  border-radius: 20%;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  border: 5px solid #fed9b7;
  background-color: #faf8b5;
  color: #f07167; }
  @media all and (min-width: 900px) {
    .container_button {
      width: 160px;
      height: 60px;
      font-size: 26px; } }

.nav_ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  padding-top: 25px;
  padding-right: 10%;
  padding-left: 10%; }

.nav_ul-li {
  height: 30px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  background-color: #fed9b7;
  border: 6px solid #f07167; }
  @media all and (min-width: 900px) {
    .nav_ul-li {
      width: 140px;
      height: 55px;
      padding-top: 15px;
      padding-right: 25px;
      font-size: 26px; } }

.hidden {
  height: 0;
  margin-bottom: 0px;
  overflow: hidden; }

.header_me {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.button-return {
  width: 120px;
  height: 40px;
  border-radius: 20%;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  border: 5px solid #fed9b7;
  background-color: #faf8b5;
  color: #f07167;
  margin-bottom: 25px; }
  @media all and (min-width: 900px) {
    .button-return {
      width: 160px;
      height: 60px;
      font-size: 26px; } }

.img_perfil {
  width: 350px;
  height: 350px;
  border-radius: 30%; }
  @media all and (min-width: 1000px) {
    .img_perfil {
      width: 450px;
      height: 450px;
      margin-right: 10px; } }

.main_me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-left: 10%;
  padding-right: 10%; }
  @media all and (min-width: 1200px) {
    .main_me {
      flex-direction: row; } }

.main_title_me {
  font-family: "Varela Round", sans-serif;
  color: #00afb9;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
  font-size: 30px; }
  @media all and (min-width: 1000px) {
    .main_title_me {
      font-size: 40px; } }

.main_section_me {
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  padding-left: 30px;
  text-align: center; }
  @media all and (min-width: 1000px) {
    .main_section_me {
      font-size: 26px; } }

.header_projects {
  margin-top: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  @media all and (min-width: 1100px) {
    .header_projects {
      margin-top: 85vw; } }
  @media all and (min-width: 1500px) {
    .header_projects {
      margin-top: 75vw; } }
  @media all and (min-width: 1900px) {
    .header_projects {
      margin-top: 10vw; } }

.main_projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%; }
  @media all and (min-width: 1200px) {
    .main_projects {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; } }

.article_projects {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-left: 30px;
  padding-right: 35px;
  padding-top: 35px;
  margin-left: 10px;
  margin-top: 10px; }
  @media all and (min-width: 1200px) {
    .article_projects {
      padding-right: 10vh;
      padding-bottom: 30px; } }

.article_projects-info {
  padding-top: 25px;
  padding-right: 25px; }
  @media all and (min-width: 1200px) {
    .article_projects-info {
      padding-right: 45px; } }

.article_projects-title {
  font-size: 30px;
  text-align: center;
  color: #00afb9; }

.projects_p {
  font-size: 24px;
  width: 300px;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 10px; }

.project_ul {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }

.project_img {
  width: 350px;
  height: 250px; }
  .project_img:hover {
    transform: scale(1.15);
    transition: 0.3s transform; }

.project_links {
  display: flex;
  flex-direction: column; }

.container_link {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-right: 100px; }

.link {
  font-size: 26px; }

.icono {
  font-size: 30px;
  width: 40px; }

.main_contact {
  margin-left: 10%;
  margin-right: 10%; }

.contact_p {
  font-size: 24px;
  text-align: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px; }
  @media all and (min-width: 1000px) {
    .contact_p {
      font-size: 30px; } }

.title_article {
  text-align: center;
  padding-bottom: 15px;
  font-size: 30px;
  color: #00afb9; }
  @media all and (min-width: 1000px) {
    .title_article {
      font-size: 38px; } }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 20px; }
  @media all and (min-width: 1000px) {
    .form {
      font-size: 26px; } }

.caja1 {
  width: 300px;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 7px;
  border: 1px solid #dddcdc;
  opacity: 0.8; }
  .caja1:focus {
    background: #fff8f1; }
  @media all and (min-width: 1000px) {
    .caja1 {
      width: 500px;
      height: 40px;
      font-size: 20px; } }

.caja2 {
  width: 420px;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 7px;
  border: 1px solid #dddcdc;
  opacity: 0.8; }
  .caja2:focus {
    background: #fff8f1; }
  @media all and (min-width: 1000px) {
    .caja2 {
      width: 670px;
      height: 40px;
      font-size: 20px; } }

.input_mesagge {
  margin: 5px 10px;
  width: 500px;
  height: 8vh;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #dddcdc;
  opacity: 0.8; }
  .input_mesagge:focus {
    background: #fff8f1; }
  @media all and (min-width: 1000px) {
    .input_mesagge {
      font-size: 20px;
      width: 750px;
      height: 12vh; } }

.button-submit {
  width: 120px;
  height: 40px;
  border-radius: 20%;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  border: 5px solid #fed9b7;
  background-color: #faf8b5;
  color: #f07167;
  margin-bottom: 25px; }
  @media all and (min-width: 900px) {
    .button-submit {
      width: 160px;
      height: 60px;
      font-size: 26px; } }

.article_contact {
  font-size: 18px;
  text-align: center; }
  @media all and (min-width: 900px) {
    .article_contact {
      font-size: 26px; } }

.RRSS {
  font-size: 50px;
  padding-left: 80px;
  padding-top: 20px;
  color: #00afb9; }
  @media all and (min-width: 900px) {
    .RRSS {
      font-size: 60px; } }

.main_article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%; }

.main_article-skills {
  background-color: #85c4cb1c;
  color: #00afb9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 36px;
  width: 100px;
  height: 80px;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.3); }
  @media (min-width: 768px) {
    .main_article-skills {
      padding: 10px;
      font-size: 50px;
      width: 120px;
      height: 100px; } }

/*# sourceMappingURL=main.css.map */
