.page {
  background-color: $background-page;
  margin: 10px 10px 10px 10px;
  font-family: $letter_fonts;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}

.header {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-family: $title_fonts;
  color: $maroon;
  font-size: 40px;
  text-align: center;
}
