body {
  background-color: $background-page;
}
.page {
  background-color: $background-page;
  font-family: $letter_fonts;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.title {
  font-family: $title_fonts;
  color: $color-title;
  font-size: 50px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  @media all and (min-width: 900px) {
    font-size: 60px;
  }
  @media all and (min-width: 1200px) {
    font-size: 70px;
  }
}
